.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    
    .slider {
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 600px;
    }
    
    .slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    }
    
    .prev-button,
    .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 16px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 270px;
    }
    
    .prev-button {
    left: 10px;
    }
    
    .next-button {
    right: 10px;
    }
body{
    background-color: black;
}
